name: My First CI

on: 
  push:
    branches:
        - master

jobs:
   build:
     runs-on: ubuntu-latest

     steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Run a simple command
          run: echo "Hello Devops, CI is working!"

        -name: Show current date
         run: date
